@{
    ViewData["Title"] = "Amazing Books";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/site.css" />
<main class="main">
    <div class="container">
        <section class="main-content">
            <div class="main-content-text">
                <h1>Книги на любой вкус и цвет</h1>
                <p>Книжный онлайн-магазин.<br>Выбери книгу своего любимого жанра и писателя<br /></p>
                <input type="submit" value="Библиотека" class="btn" />
            </div>
        </section>
    </div>
</main>
