@{
    ViewData["Title"] = "Genres";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/genres.css" />
<div class="catalog">
    <div class="container">
        <div class="catalog-title">
            Выберите жанр книги
        </div>
        <div class="genres-container">
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Фэнтези" class="genre">Фэнтези</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Фантастика" class="genre">Фантастика</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Приключения" class="genre">Приключения</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Детектив" class="genre">Детектив</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Триллер" class="genre">Триллер</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Ужастик" class="genre">Ужастик</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Мистика" class="genre">Мистика</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Драма" class="genre">Драма</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Любовный роман" class="genre">Любовный роман</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Исторический роман" class="genre">Исторический роман</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Комедия" class="genre">Комедия</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Военная проза" class="genre">Военная проза</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Поэзия" class="genre">Поэзия</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Классическая литература" class="genre">Классическая литература</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Дистопия" class="genre">Дистопия</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Киберпанк" class="genre">Киберпанк</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="ЛИТРПГ" class="genre">ЛИТРПГ</a>
            <a asp-controller="GenresDetail" asp-action="Index" asp-route-name="Готическая литература" class="genre">Готическая литература</a>
        </div>
    </div>
</div>
