@{
    ViewData["Title"] = "About";
}
<link rel="stylesheet" href="~/css/about.css" />
<div class="service">
    <div class="container">
        <div class="service-title">
            Книги на любой вкус и цвет
        </div>
        <div class="service-text">
            Amazing Books — это интернет-магазин, созданный для настоящих ценителей печатных книг.
            Мы предлагаем широкий ассортимент изданий на любой вкус: от классической литературы и современных бестселлеров до редких коллекционных экземпляров.<br />
            📖 Что мы предлагаем?<br />
            ✔️ Богатый выбор художественной и научно-популярной литературы<br />
            ✔️ Книги в твёрдом и мягком переплёте от ведущих издательств<br />
            ✔️ Эксклюзивные издания и лимитированные коллекции<br />
            🚚 Удобство и качество сервиса<br />
            ✔️ Быстрая доставка по всей стране<br />
            ✔️ Различные способы оплаты для вашего удобства<br />
            ✔️ Внимательная поддержка клиентов, готовая помочь с выбором<br />
            Amazing Books — это место, где любовь к книгам становится удобной и доступной. Погружайтесь в мир печатного слова вместе с нами! 📚✨
        </div>
    </div>
</div>
