@{
    ViewData["Title"] = "Basket";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/basket.css" />

<div class="container">
    <div class="container-title">
        <h2>Корзина</h2>
    </div>
    <div class="main-detail">
        <div class="basket-detail books">
            <div class="basket-card">
                <div class="basket-card-detail">
                    <div class="placeholder-img">
                        <img src="#" alt="Книга">
                    </div>
                    <div class="text-content">
                        <h3 class="basket-card-title">Название книги</h3>
                        <p class="basket-card-text">Жанр: </p>
                        <p class="basket-card-text">Автор: </p>
                        <p class="basket-card-text">Год: </p>
                    </div>
                    <div class="basket-cart-controls">
                        <button>-</button>
                        <span class="quantity">1</span>
                        <button>+</button>
                        <div class="price-container">
                            <p class="basket-card-text">Цена: </p>
                        </div>
                    </div>
                </div>
                <div class="basket-card-detail">
                    <div class="placeholder-img">
                        <img src="#" alt="Книга">
                    </div>
                    <div class="text-content">
                        <h3 class="basket-card-title">Название книги</h3>
                        <p class="basket-card-text">Жанр: </p>
                        <p class="basket-card-text">Автор: </p>
                        <p class="basket-card-text">Год: </p>
                    </div>
                    <div class="basket-cart-controls">
                        <button>-</button>
                        <span class="quantity">1</span>
                        <button>+</button>
                        <div class="price-container">
                            <p class="basket-card-text">Цена: </p>
                        </div>
                    </div>
                </div>
                <div class="basket-card-detail">
                    <div class="placeholder-img">
                        <img src="#" alt="Книга">
                    </div>
                    <div class="text-content">
                        <h3 class="basket-card-title">Название книги</h3>
                        <p class="basket-card-text">Жанр: </p>
                        <p class="basket-card-text">Автор: </p>
                        <p class="basket-card-text">Год: </p>
                    </div>
                    <div class="basket-cart-controls">
                        <button>-</button>
                        <span class="quantity">1</span>
                        <button>+</button>
                        <div class="price-container">
                            <p class="basket-card-text">Цена: </p>
                        </div>
                    </div>
                </div>
                <div class="basket-card-detail">
                    <div class="placeholder-img">
                        <img src="#" alt="Книга">
                    </div>
                    <div class="text-content">
                        <h3 class="basket-card-title">Название книги</h3>
                        <p class="basket-card-text">Жанр: </p>
                        <p class="basket-card-text">Автор: </p>
                        <p class="basket-card-text">Год: </p>
                    </div>
                    <div class="basket-cart-controls">
                        <button>-</button>
                        <span class="quantity">1</span>
                        <button>+</button>
                        <div class="price-container">
                            <p class="basket-card-text">Цена: </p>
                        </div>
                    </div>
                </div>
                <div class="basket-card-detail">
                    <div class="placeholder-img">
                        <img src="#" alt="Книга">
                    </div>
                    <div class="text-content">
                        <h3 class="basket-card-title">Название книги</h3>
                        <p class="basket-card-text">Жанр: </p>
                        <p class="basket-card-text">Автор: </p>
                        <p class="basket-card-text">Год: </p>
                    </div>
                    <div class="basket-cart-controls">
                        <button>-</button>
                        <span class="quantity">1</span>
                        <button>+</button>
                        <div class="price-container">
                            <p class="basket-card-text">Цена: </p>
                        </div>
                    </div>
                </div>
                <div class="basket-card-detail">
                    <div class="placeholder-img">
                        <img src="#" alt="Книга">
                    </div>
                    <div class="text-content">
                        <h3 class="basket-card-title">Название книги</h3>
                        <p class="basket-card-text">Жанр: </p>
                        <p class="basket-card-text">Автор: </p>
                        <p class="basket-card-text">Год: </p>
                    </div>
                    <div class="basket-cart-controls">
                        <button>-</button>
                        <span class="quantity">1</span>
                        <button>+</button>
                        <div class="price-container">
                            <p class="basket-card-text">Цена: </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket-detail summary">
            <div class="basket-card">
                <div class="basket-card-detail-2">
                    <h2>Нужно войти в аккаунт</h2>
                    <div class="foot">
                        <strong>Итого :</strong>
                        <button class="btn-pay" >Оплатить</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
