@{
    ViewData["Title"] = "AdminPanel";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/adminPanel.css" />
<script >
    <partial name="_ValidationScriptsPartial" />
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@model Book

<div class="container">
    <div class="admin-panel">
        <h2>@ViewBag.Message</h2>
        <p>Здесь панель администратора</p>
    </div>
    <div class="form-items-admin">
        <div id="adminForm">
            <form asp-controller="Dashboard" asp-action="AddBook" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <input asp-for="Title" class="form-control-admin" placeholder="Название" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <select asp-for="Genre" class="form-control-admin">
                        <option value="" disabled selected>Выберите жанр</option>
                        <option value="Fiction">Художественная литература</option>
                        <option value="NonFiction">Нехудожественная литература</option>
                        <option value="Mystery">Детектив</option>
                        <option value="Fantasy">Фэнтези</option>
                        <option value="ScienceFiction">Научная фантастика</option>
                        <option value="Biography">Биография</option>
                        <option value="Romance">Роман</option>
                        <option value="Thriller">Триллер</option>
                        <option value="Horror">Ужасы</option>
                        <option value="HistoricalFiction">Исторический роман</option>
                    </select>
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input asp-for="Author" class="form-control-admin" placeholder="Автор" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input asp-for="Price" class="form-control-admin" placeholder="Цена" type="number" step="0.01" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input asp-for="Year" class="form-control-admin" placeholder="Год"  type="number"/>
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <textarea class="form-control-admin" id="Description" name="Description" rows="3">@Model?.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input name="imageFile" type="file" class="form-control-admin" />
                </div>

                <button type="submit" class="btn-admin">Добавить книгу</button>
            </form>
            @if (TempData["Success"] != null)
            {
                <script>
                    Swal.fire({
                    icon: 'success',
                    title: 'Готово!',
                    text: '@Html.Raw(TempData["Success"])'
                    });
                </script>
            }
        </div>
    </div>
</div>








