
.catalog {
    margin-top:40px;
    text-align: center;
}

.catalog-title {
    font-size: 36px;
    font-weight: bold;
}

.genres-container {
    display: grid;
    margin-top: 35px;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.genre {
    background: white;
    color: black;
    padding: 15px 20px 20px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}

 .genre:hover {
     transform: scale(0.9);
  }
 